extends layout

block content
  h1= title
  p Welcome to the jacket  pug
  div(class="container-fluid")
        div(class="row")
            -
                let coat = [
                    {
                        "name": "Puffed jacket",
                        "brand": "Chapter Club",
                        "price": "Thirty-four USD"
                    },
                    {
                        "name": "Sherpa",
                        "brand": "CK",
                        "price": "Twenty-nine USD"
                    
                    },
                    {
                        "name": "Tan jacket",
                        "brand": "Tommy",
                        "price": "Twenty-five USD"
                    
                    },

                   
                ]
            each v,index in coat
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.name}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.brand}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }